@{
    ViewData["Title"] = "Confirm Email";
}

<h2>@ViewData["Title"]</h2>
<div>
    <p><strong>Gracias por confirmar su cuenta. ya puedes ingresar al sistema.</strong></p>
    <p>Si no has asignado una contraseña, su contraseña es: 123456, recuerde cambiarla por una más segura y de fácil recordar para usted.</p>
</div>

